<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bisai.bisai">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".controller.activities.login.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.activities.main.MainActivity" />
        <activity
            android:name=".controller.activities.login.RegisterActivity"
            android:label="Registrar usuario"
            android:parentActivityName=".controller.activities.login.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.activities.login.LoginActivity" />
        </activity>
        <activity android:name=".controller.activities.master_detail.TeamListActivity" />
        <activity android:name=".controller.activities.master_detail.TeamPlayerListActivity" />
        <activity android:name=".controller.activities.master_detail.TeamDetail" />
        <activity android:name=".controller.activities.master_detail.TeamJugadorDetail" />
        <activity android:name=".controller.activities.master_detail.AddPlayerActivity" />
        <activity android:name=".controller.activities.master_detail.passwordTeamAddPlayer" />
        <activity android:name=".controller.activities.master_detail.PerfilUser" />
        <activity
            android:name=".controller.activities.main.MainActivityMenu"
            android:label="@string/title_activity_main_menu"
            android:theme="@style/AppTheme"></activity>
        <activity android:name=".controller.activities.master_detail.TeamDetail"></activity>

        <activity android:name=".controller.activities.master_detail.TorneoListActivity" />
        <activity android:name=".controller.activities.master_detail.TorneoDetail"></activity>
    </application>

</manifest>